body {
	margin: 0;
	padding: 0;
	border: none;
	color: #FFFFFF;
	font-family: 'fira mono';
	font-weight: lighter;
	font-size: 14px;
}

h3 {
	font-size: 1em;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
}

#container {
	position: absolute;
	padding: 0 20px 0 20px;
	top: 25%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: auto;
}

#clock {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin-bottom: 50px;
	padding: 8px;
  text-transform: uppercase;
	text-align: center;
}

.time {
	font-size: 2.25em;
}

.hex {
	font-size: 1.25em;
}

.box {
	-webkit-box-shadow: 1px 1px 20px 0px #000;
	-moz-box-shadow: 1px 1px 20px 0px #000;
	box-shadow: 1px 1px 20px 0px #000;
	background-color: #282a36;
	border: 5px solid #282a36;
	margin: 4px;
	padding: 8px;
}

#links {
	display: -moz-box;
	display: -webkit-box;
	width: 100%;
}

.tag {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
}

.tag h3 {
	padding-bottom: 8px;
}

.tag a {
	padding-bottom: 2px;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

.tag a:hover {
	text-decoration: underline;
}

.cyan  { color: #9aedfe; }
.blue  { color: #57c7ff; }
.green { color: #5af78e; }
.pink  { color: #ff6ac1; }
.red   { color: #ff5c57; }
.gold  { color: #ff8800; }
